
#logo-image
{
	background: url("https://www.pngkey.com/png/detail/217-2178380_mcdonalds-logo-png-mcdonalds-logo-png.png") no-repeat;
	width: 150px;
	height: 150px;
	margin:10px;
}
@media(min-width: 992px)
{

}
@media(min-width: 768px)and(max-width:991px)
{

}
@media(0px)and(767px)
{
	
}