#header-nav
{
	background-color:#fb3640;
	padding: 0px;
	margin: 0px;
	border-radius:0px;
	border:0px;
}
.navbar-brand
{
	padding:0px;
	padding-left: 20px;
	margin-bottom: 20px;
}
.navbar-brand h1
{
	color: black;
	top:10px;
	text-decoration: none;
	font-weight: bold;
	font-size:30px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
}
.icon-bar
{
	border:2px solid black;
}
.sr-only
{
	border:2px solid black;
}
a
{
	color: black;
}
li
{
	border:1px solid black;
	padding-bottom: 0px;
	
}
.navbar-brand a:hover,.navbar-brand a:focus
{
	text-decoration: none;
}
#content
{
	color: black;
	border: 2px solid black;
	margin-bottom: 50px;
	padding-bottom: 20px;
	background-color:#fb3640;
	overflow: none;
	height: auto;
}
.row h1
{
	color: black;
	margin-top:10px;
	margin-bottom:40px;
}

@media (min-width: 1200px) {

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 	
 }

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	.navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 0px;
    margin-top: 0px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
	.col-xs-12
	{
		overflow: auto;
	}
	section
	{
		padding: 10px;
	}
	.row
	{
		padding: 30px;
	}

}