*{
	font-family: "Comic Sans MS", cursive, sans-serif;
	box-sizing: border-box;
}
h1{
	
	margin-bottom: 130px;
	text-align: center;
}

.content{
  border: 3px solid black;
  color: black;
  padding: 6px;
  background-color:#a3d2ca;
  margin:3px;
}
.Chicken{
	margin-left: 95%;
	font-size: 20px;
	text-align: center;
	border: 3px solid black;
	float: right;
	background-color: #91c788;
	font-weight: bold;
	margin-right:4px;
	margin-top: 3px;
}
.Beef{
	
	margin-left: 97%;
	font-size: 20px;
	text-align: center;
	color: white;
	border: 3px solid black;
	float: right;
	background-color: #ce1212;
	font-weight: bold;
	margin-right:4px;
	margin-top: 3px;
}

.Sushi{
	margin-left:97%;
	font-size: 20px;
	text-align: center;
	border: 3px solid black;
	float: right;
	background-color: #f05945;
	font-weight: bold;
	margin-right:4px;
	margin-top: 3px;
}

/**** Large devices only ****/
@media (min-width: 992px) {
  .ld-4 {
  	float: left;
    width: 33%;
  }
  
}
/**** Medium devices only ****/
@media (min-width: 768px) and (max-width: 991px) {
 
 	.md-7
 	{	
 		float: left;
 		height: auto;
 		width:95%;
 	}
 	.md-6
 	{
 		float:left;
 		width:50%;
 	}
}

@media (min-width: 0px) and (max-width: 767px) {
  .sm-12 {
  	float: left;
    width: 100%;
  }
 .p{
    margin-right: 30px;
  }