*
{
	font-family: Helvetica arial serif;
	box-sizing: border-box;
}

#title
{
	text-align: center;
	font-weight: bold;
	color:black;
	margin-bottom: 85px;
}
#Salmon
{
	font-size: 20px;
	background-color: #7b113a;
	float:right;
	clear: left;
	border-left:3px solid black;
	border-bottom:3px solid black;
	margin-left: 100%;
	font-weight: bold;

}
#Sushi
{
	font-size: 20px;
	background-color: #ffcc29;
	font-weight: bold;
	float:right;
	clear: left;
	border-left:3px solid black;
	border-bottom:3px solid black;
	margin-left: 100%;
}
#Beef
{
	font-size: 20px;
	background-color: #28b5b5;
	font-weight: bold;
	float:right;
	clear: left;
	border-left:3px solid black;
	border-bottom:3px solid black;
	margin-left: 100%;
}

#p1
{
	margin-top: 0px;
	border:3px solid black;
	width:33%;
	background-color: #ead3cb;
	float:left;
}
#p2
{

	border:3px solid black;
	width:33%;
	background-color: #ead3cb;
	margin-top: 0px;
	float:right;
	left:2%;
	
}
#p3
{
	border:3px solid black;
	width:33%;
	background-color: #ead3cb;
	margin-top: 0px;
	float:right;
	

}


@media(max-width: 768px)
{
	#p1
	{
		width:48%;
		margin-bottom: 10%;
	}
	#p2
	{
		width:48%;
	}
	#p3
	{
		width:100%;
		float:right;
		
	}
}
@media(max-width: 767px)
{
	#p1
	{
		width:100%;
		float:right;
		margin-bottom: 10%;
	}
	#p2
	{
		width:100%;
		float:right;
		margin-bottom: 10%;
	}
	#p3
	{
		width:100%;
		float:right;
		margin-bottom: 10%;
		
	}
}

